body {
  margin: 0px;
  padding: 0px;
  min-width: 100vh;
  min-height: 100vh;
}

.text-shadow {
  text-shadow: 2px 2px 2px black;
}

.hero-background {
  background-image: url("../images/background.jpg");
  background-color: yellow;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.minimum-width-large {
  min-width: 512px;
}
